export CLIENT_ID=""
export CLIENT_SECRET=""
export DA_FOLDER="./da_files"
export BUNDLE_FILE="DynamoRevitDA.zip"
export PYTHON_FILE="pythonDependencies.zip"
export DYN_FILE="run.dyn"
export SETUP_FILE="setup.json"
export RVT_FILE="DeleteWalls.rvt"
export PACKAGES_FILE="packages.zip"
export RUN_REQ_FILE="run.json"
export RESULT_FILE="result.json"
export RVT_RESULT_FILE="result.rvt"
export OSS_BUCKET_NAME="dynamodatestbucket"
export OSS_BUCKET_REGION="US"
export BUNDLE_APP_NAME="DynamoDATest"
export NICKNAME="DynamoDATest"
export ACTIVITY_NAME="DeleteWallsActivity20"
